body {
  padding-top: 60px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

#map-canvas {
  margin: 0;
  padding: 0;
  height: 400px
}

#navbar-collapse-1 {
  padding-right: 30px;
}

iframe {
  max-width: 100%;
}
